/***************************************
    PLAYBACK SENSATION STYLESHEETS
****************************************/

html, body {
    background-color: #6BAE44;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


/**********************************
              BUTTONS
**********************************/

.btnEnter {
    display: inline-block;
    height: 100%;
    width: 50%;
    color: #ECFFE0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    background-color: #83C74F;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid transparent;
}

.btnIcon {
    display: inline-block;
    height: 100%;
    width: 5%;
    color: #ECFFE0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    background-color: #83C74F;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid transparent;
}

.btnSubmit {
    display: inline-block;
    height: 100%;
    width: 20%;
    color: #ECFFE0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    background-color: #83C74F;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid transparent;
}

.btnEnter:hover,
.btnIcon:hover,
.btnSubmit:hover {
    color: #AE37B2;
    text-decoration: none;
}


.buttons {
    width: 100%;
    text-align: center;
}

/************************************************
          TITLES, HEADERS, DESCRIPTIONS
 ************************************************/

.titleWrapper {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    position: absolute;
    height: 50%;
    width: 96%;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.title {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #ECFFE0;
    font-weight: bold;
    font-size: 4em;
}

.pageHeader {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.fileLabelWrapper {
    margin: 30px 0px 0px 0px;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #ECFFE0;
    font-weight: 300;
    font-size: 3em;
}

.fileInputWrapper {
    margin: 20px 0px 70px 0px;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #ECFFE0;
    font-weight: 300;
    font-size: 2em;
}

.custom-file-upload {
    border: 3px solid #ccc;
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    color: #AE37B2;
    text-decoration: none;
}

.fileDescription {
    margin: 20px 0px 0px 0px;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #ECFFE0;
    font-weight: 300;
    font-size: 1em;
}

.pageNumDesc {
    margin: 0px 175px 0px 175px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #ECFFE0;
    font-weight: 600;
    font-size: 2.5em;
}

input[type="file"] {
    display: none;
}

.audioWrapper {
    width: 1000px;
}
